body{
	background-color: #f5f5f5;
}
.line{
	width: 20.0rem;
	height: 0.054rem;
	position: relative;
	background-color: #E8E8E9;
}
.customer{
	position: relative;
	width: 20rem;
	height: 3.6rem;
	background-color: #fff;
}
.house{
	position: relative;
	width: 20rem;
	height: 4.7rem;
	background-color: #fff;
}
.blank{
	position: relative;
	width: 20rem;
	height: 0.6rem;
}
.company{
	position: relative;
	width: 20rem;
	height: 2.4rem;
	background-color: #fff;
}
.process{
	position: relative;
	width: 20rem;
	height: 4.5rem;
	background-color: #fff;
}
.customer-img{
	position: absolute;
	left: 0.8rem;
	top: 0.5rem;
	width: 2.6rem;
	height: 2.6rem;
}
.customer-name{
	position: absolute;
	font-size: 0.9rem;
	font-weight: bold;
	top: 0.5rem;
	left: 3.7rem;
}
.customer-phone{
	position: absolute;
	font-size: 0.747rem;
	color: #868686;
	left: 3.7rem;
	top: 2rem;
}
.phone-img{
	position: absolute;
	width: 2rem;
	height: 2rem;
	left: 17rem;
	top: 0.8rem;
}
.buywill{
	position: absolute;
	font-size: 0.9rem;
	left: 0.8rem;
	top: 0.8rem;
}
.housetype{
	position: absolute;
	left: 0.8rem;
	top: 2.6rem;
	font-size: 0.747rem;
	color: #868686;
}
.housetype-text{
	position: relative;
	float: left;
}
.shu{
	position: relative;
	float: left;
	color: #868686;
	margin: 0rem 0.3rem;
}
.companyimg{
	position: absolute;
	height: 1.6rem;
	width: 1.6rem;
	left: 0.8rem;
	top: 0.4rem;
}
.company-name{
	position: absolute;
	font-size: 0.9rem;
	left: 2.6rem;
	line-height: 2.4rem;
}
.process ul{
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}
.processli{
	position: relative;
	float: left;
	padding: 0.1rem 0.3rem;
	border: #D7D7D7 0.054rem solid;
	border-radius: 0.133rem;
	font-size: 0.267rem;
	background-color: #fff;
}
.processli-active{
	position: relative;
	float: left;
	padding: 0.1rem 0.3rem;
	border: #FF6804 0.054rem solid;
	border-radius: 0.133rem;
	font-size: 0.267rem;
	color: #FF6804;
	background-color: #FFE4CA;
}
.heng{
	position: relative;
	float: left;
	height: 0.107rem;
	width: 1rem;
	background-color: #D7D7D7;
	top: 0.55rem;
}
.daikan-time{
	position: absolute;
	color: #868686;
	font-size: 0.267rem;
	left: 1.5rem;
	top: 3rem;
}
.state{
	position: relative;
	width: 20rem;
	height: auto;
	background-color: #fff;
}
.state li{
	position: relative;
	width: 20rem;
	height: 2rem;
}
.state-text{
	position: absolute;
	color: #868686;
	font-size: 0.747rem;
	line-height: 1.88rem;
	left: 0.8rem;
}
.state-time{
	position: absolute;
	left: 17rem;
	color: #868686;
	font-size: 0.747rem;
	line-height: 1.88rem;
}