.qrcode-container{
	position: relative;
	width: 337.5px;
	height: 337.5px;
	margin:0 auto;
	overflow: hidden;
}

.qrcode-bg{
	position: absolute;
	width: 337.5px;
	height: 337.5px;
	padding: 37.5px;
}

.qrcode-img{
	position: absolute;
	width: 112.5px;
	height: 112.5px;
	left: 113.625px;
	top: 116.25px;
}

.qrcode-text{
	position:relative;
	font-size: 0.747rem;
	padding: 2rem 1rem;
}