.qrcode-container{
	position: relative;
	width: 20rem;
	height: 20rem;
}

.qrcode-bg{
	position: absolute;
	width: 18rem;
	height: 18rem;
	padding: 1rem;
}

.qrcode-img{
	position: absolute;
	width: 6rem;
	height: 6rem;
	left: 5.03rem;
	top: 5.1rem;
}

.qrcode-text{
	position:relative;
	font-size: 0.747rem;
	padding: 0rem 1rem;
}