<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/customerdetail.css">
</head>
<body ng-app="cApp" ng-controller="customerCtrl">
	<div class="customer">
		<img class="customer-img" src="./img/headimg.png">
		<div class="customer-name">{{cusmessage.name}}</div>
		<div class="customer-phone">{{cusmessage.phone}}</div>
		<img class="phone-img" src="./img/telimg.png">
	</div>
	<div class="line"></div>
	<div class="house">
		<div class="buywill">客户信息</div>
		<div class="dktime">带看时间：{{cusmessage.dk_time}}</div>
		<div class="note">{{cusmessage.note}}</div>
	</div>
	<div class="blank"></div>
	<div class="company clearfloat">
		<img class="companyimg" src="./img/companyimg.png">
		<div class="company-name">{{cusmessage.plot_name}}</div>
		<div class="del">失效</div>
	</div>
	<div class="line"></div>
	<div class="process">
		<ul>
			<li class="processli-active">报备</li>
			<div class="heng"></div>
			<li class="processli" onclick="process(this)">到访</li>
			<div class="heng"></div>
			<li class="processli" onclick="process(this)">认筹</li>
			<div class="heng"></div>
			<li class="processli" onclick="process(this)">认购</li>
			<div class="heng"></div>
			<li class="processli" onclick="process(this)">成交</li>
			<div class="heng"></div>
			<li class="processli" onclick="process(this)">结佣</li>
		</ul>
	</div>
	<div class="blank"></div>
	<div class="remark">
		<textarea class="remark-textarea"></textarea>
		<button class="remark-submit" type="submit" ng-click="postmsg()">提 交</button>
	</div>
	<div class="blank"></div>
	<div class="state">
		<ul>
			<li ng-repeat="note in notelist">
				<div class="state-text">{{note.note}}</div>
				<div class="state-status">{{note.status}}</div>
				<div class="state-time">{{note.time}}</div>
				<div class="line"></div>
			</li>
		</ul>
	</div>







<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/rem.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/customerdetail.js"></script>
</body>
</html>