<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/customerlist.css">
	<title></title>
</head>
<body ng-app="cuslist" ng-controller="cuslistCtrl">

	<div class="list-search-frame">
		<div class="list-search-search" ng-click="search()">搜索</div>
		<input type="text" name="kw" class="list-search-frame-text" placeholder="请输入客户姓名/手机号">
	</div>

	<div class="customerlist">
		<ul>
			<li ng-repeat="item in cuntomerlist" ng-click="turn(item.id)">
				<div class="cusname" ng-cloak>{{item.user_name}}</div>
				<div class="custel" ng-cloak>{{item.user_phone}}</div>
				<div class="intername" ng-cloak>{{item.staff_name}}</div>
				<div class="intertel" ng-cloak>{{item.staff_phone}}</div>
				<div class="intercom" ng-cloak>{{item.staff_company}}</div>
				<div class="time" ng-cloak>{{item.time}}</div>
				<div class="status" ng-cloak>{{item.status}}</div>
				<div class="line"></div>
			</li>
			<li ng-repeat="item in searchlist" ng-click="turn(item.id)">
				<div class="cusname" ng-cloak>{{item.user_name}}</div>
				<div class="custel" ng-cloak>{{item.user_phone}}</div>
				<div class="intername" ng-cloak>{{item.staff_name}}</div>
				<div class="intertel" ng-cloak>{{item.staff_phone}}</div>
				<div class="intercom" ng-cloak>{{item.staff_company}}</div>
				<div class="line"></div>
			</li>
		</ul>
	</div>
	<div class="add" ng-click="addCustomer()">
		<img class="addimg" src="./img/addimg.png">
	</div>






<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/rem.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/customerlist.js"></script>
</body>
</html>