<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/list.css">
</head>
<body>
	<div class="list-search">
		<div class="list-search-frame">
			<div class="list-search-cancle">取消</div>
			<input type="text" class="list-search-frame-text" placeholder="请输入小区名称或关键字">
		</div>
		<div class="search-history">
			<div class="search-history-head">
				<img class="hist-img" src="./img/hist.png">
				<div class="hist-text">搜索历史</div>
				<img class="delete-img" src="./img/delet.png">
				<div class="delete-text">清空</div>
			</div>
			<ul>
				<li></li>
				<li></li>
			</ul>
		</div>
		
	</div>

	<div class="list-head">
		<div class="gradientcolor"></div>
		<img class="list-head-img" src="./img/search.png">
		<div class="list-head-window">
			<div class="list-head-list" id="app-head">
				<ul>
					<li v-for="item in itemList" :id="item.id" class="list-head-item list-head-text" style="list-style-type: none;">全部</li>
					<li v-for="item in itemList" :id="item.id" class="list-head-item list-head-text" style="list-style-type: none;">全部全部全部全部全部</li>
					<li v-for="item in itemList" :id="item.id" class="list-head-item list-head-text" style="list-style-type: none;">全部全部全部全部全部</li>
					<li v-for="item in itemList" :id="item.id" class="list-head-item list-head-text" style="list-style-type: none;">全部全部全部全部全部</li>
					<li v-for="item in itemList" :id="item.id" class="list-head-item list-head-text" style="list-style-type: none;">全部全部全部全部全部</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="line"></div>

	<ul class="list-filter clearfloat" id="app-list-filter">
            <li class="list-filter-area">
                <div class="list-filter-text">区域</div>
                <img class="list-filter-slat" src="./img/slatdown.png" />
            </li>
            <li class="list-filter-area">
                <div class="list-filter-text">总价</div>
                <img class="list-filter-slat" src="./img/slatdown.png" />
            </li>
            <li class="list-filter-area">
                <div class="list-filter-text">户型</div>
                <img class="list-filter-slat" src="./img/slatdown.png" />
            </li>
            <li class="list-filter-area">
                <div class="list-filter-text">更多</div>
                <img class="list-filter-slat" src="./img/slatdown.png" />
            </li>
    </ul>

<!-- 筛选列表1 -->
	<div class="filter-filter-bg" id="filter1">
		<div class="line"></div>
		<div class="filter-filter1">
			<div class="filter-filter1-left"> 
				<ul>
					<li>不限</li>
					
					<li>新北区</li>
					
					<li>钟楼区</li>
					
					<li>天宁区</li>
				</ul>
			</div>
			<div class="filter-filter1-right"> 
				<ul>
					<li>不限</li>
					<div class="line"></div>
					<li>新北区</li>
					<div class="line"></div>
					<li>钟楼区</li>
					<div class="line"></div>
					<li>天宁区</li>
					<li>新北区</li>
					<div class="line"></div>
					<li>钟楼区</li>
					<div class="line"></div>
					<li>天宁区</li>
				</ul>
			</div>
		</div>
	</div>
<!-- 筛选列表2 -->
	<div class="filter-filter-bg" id="filter2">
		<div class="line"></div>
		<div class="filter-filter2">
			<ul>
				<li>不限</li>
				<div class="line"></div>
				<li>50万以下</li>
				<div class="line"></div>
				<li>50-80万</li>
			</ul>
		</div>
	</div>
<!-- 筛选列表3 -->
	<div class="filter-filter-bg" id="filter3">
		<div class="line"></div>
		<div class="filter-filter3">
			<ul>
				<li>不限</li>
				<div class="line"></div>
				<li>一室</li>
				<div class="line"></div>
				<li>二室</li>
			</ul>
		</div>
	</div>
<!-- 筛选列表4 -->
	<div class="filter-filter-bg" id="filter4">
		<div class="line"></div>
		<div class="filter-filter4">
			<ul>
				<li class="filter4-item">
					<div class="filter4-item-head"><strong>排序</strong></div>
					<div class="filter4-item-item">
						<ul class="clearfloat">
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
						</ul>
					</div>
				</li>
				<li class="filter4-item">
					<div class="filter4-item-head"><strong>排序</strong></div>
					<div class="filter4-item-item">
						<ul class="clearfloat">
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
						</ul>
					</div>
				</li>
				<li class="filter4-item">
					<div class="filter4-item-head"><strong>排序</strong></div>
					<div class="filter4-item-item">
						<ul class="clearfloat">
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
						</ul>
					</div>
				</li>
				<li class="filter4-item">
					<div class="filter4-item-head"><strong>排序</strong></div>
					<div class="filter4-item-item">
						<ul class="clearfloat">
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
							<li>不限</li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="list-blank"></div>
			<div class="line"></div>
			<div class="filter-filter4-buttom">
				<div class="filter-filter4-buttom-button">重置</div>
				<div class="filter-filter4-buttom-button">确定</div>
			</div>
			
		</div>
	</div>



<!-- 房子列表 -->
	<div class="houselist" id="app-house">
        <ul>
            <li v-for="item in itemList" :id="item.id" style="list-style-type: none;">
            	<div class="line"></div>
                <a class="list-house">
                	<img class="house-img" v-bind:src="item.image"/>
					<div class="house-text-head">{{item.title}}</div>
					<div class="house-text-size">{{item.size}}</div>
					<div class="house-text-plot_name"> {{item.area}}{{item.street}}</div>
					<div class="house-text-price">{{item.price}}{{item.unit}}</div>
					<img class="distance-img" src="./img/icon-distance.png">
					<div class="list-distance">{{item.distance}}</div>
					<div class="house-text-company">{{item.company}}1122</div>
				</a>
            </li>
        </ul>
    </div>




<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/rem.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
<script type="text/javascript" src="js/list.js"></script>
</body>
</html>