
.wrap {
    width: 100%;
}

.header_wrap {
    /*width: 46.875rem;*/
    margin: 0 auto;
    background: #f5f5f5;
}

.tit {
    font-size: 1.75rem;
}

.header {
    /*width: 46.875rem;*/
    /*height: 30.625rem;*/
    /*background: url("../img/details2/banner.png") no-repeat center;*/
    /*position: relative;*/
}

.banner img {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}
.show img{
    display: block;
}
.headerBack {
    width: 43.75rem;
    margin: 0 auto;
    padding-top: 1.875rem;
}

.header_back {
    width: 1.1875rem;
    height: 2rem;
    background: url("../img/details2/back.png") no-repeat;
    float: left;
    position: absolute;
    top: 1.25rem;
    left: 1.875rem ;
}

.header_tit {
    font-size: 1.875rem;
    color: white;
    float: left;
    /*margin-left: 12.1875rem;*/
    position: absolute;
    top: 2.8125rem ;
    left: 34%;
}

.header_tit2 {
    float: left;
    color: white;
    position: absolute;
    left: 1.5625rem;
    bottom: 1.5625rem;
    font-size: 1.5rem;
}

.header_tit3 {
    float: right;
    color: white;
    font-size: 1.5rem;
    width: 5rem;
    height: 2.1875rem;
    background: rgba(0, 0, 0, 0.60);
    border-radius: 4.375rem;
    text-align: center;
    line-height: 2.1875rem;
    bottom: 1.5625rem;
    right: 1.5625rem;
    position: absolute;
}

.sales {
    /*width: 43.75rem;
     */
    /*margin: 1.875rem auto;
     */
    background: #fff;
    padding: 1.875rem 1.5625rem 0 1.5625rem;
    position: relative;
}

.title {
    font-size: 2rem;
}

.title span {
    font-size: 1.5rem;
    color: #666666;
    margin-left: 1.25rem;
}

.jaiqian {
    font-size: 2.25rem;
    color: red;
}

.jaiqian span {
    font-size: 1.5rem;
}

.sales_btn {
    width: 11.25rem;
    height: 2.5rem;
    border: 1px solid #cccccc;
    border-radius: 3.125rem;
    outline: none;
    background: none;
    font-size: 1.375rem;
    color: #7a7a7a;
    float: right;
    margin-top: -2.5rem;
}

.sales_tel {
    font-size: 1.625rem;
}

.sales_tel span {
    margin-left: 1.25rem;
}

.dizhi {
    font-size: 1.625rem;
    padding-bottom: 1.25rem;
}

.dizhi span {
    margin-left: 1.25rem;
}

.dizhi_btn {
    width: 7.5rem;
    height: 2.5rem;
    background: #ffa100;
    border: 0;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.625rem;
    border-radius: 0.3125rem;
    line-height: 2.5rem;
    float: right;
    margin-top: -0.625rem;
}

.hongbao {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.red {
    width: 32.5rem;
    height: 11.25rem;
    background: url("../img/details2/red.png") no-repeat;
    float: left;
}

.red p {
    font-size: 2.75rem;
    color: white;
}

.red_word {
    font-size: 1.625rem;
    color: white;
}

.money {
    padding: 1.875rem;
}

.yellow {
    width: 11.25rem;
    height: 11.25rem;
    background: url("../img/details2/yellow.png") no-repeat;
    float: left;
    position: relative;
}

.tiao_wrap {
    width: 66%;
    padding-top: 2.5rem;
    margin: 0 auto;
}

.tiao {
    width: 7.5rem;
    height: 0.625rem;
    background: #ba9a07;
    border-radius: 3.125rem;
}

.tiao2 {
    display: block;
    height: 100%;
    background-color: #fff;
    border-radius: 0.3125rem;
}

.yellow p {
    font-size: 1.5rem;
    color: #ffae00;
    text-align: center;
    padding-top: 1.25rem;
}

.yellow button {
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 3.125rem;
    border: 2px solid #ff9b01;
    background: white;
    color: #ff9b01;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    outline: none;
    margin-left: 1.875rem;
    margin-top: 0.9375rem;
}

.dynamic {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.dynamic_fl {
    font-size: 1.75rem;
    float: left;
}

.dynamic_rl {
    float: right;
    font-size: 1.5rem;
    color: #a0a0a0;
}

.dynamic_con {
    font-size: 1.625rem;
    color: #858585;
}

.house {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.house_pic {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.house_style {
    float: left;
    margin-right: 1.25rem;
}

.house_style p {
    font-size: 1.625rem;
    color: #999999;
    line-height: 3.125rem;
}

.details {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.message {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.message p {
    font-size: 1.75rem;
    line-height: 4.375rem;
}

.message .mes_rl {
    margin-right: 5rem;
}

.message span {
    color: #999999;
    margin-right: 3.125rem;
}

.map {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.comment {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.user_pic {
    float: left;
}

.user {
    float: left;
    margin-left: 1.25rem;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #999999;
}

.comment_word {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    line-height: 2.5rem;
}

.comment_pic1 img {
    float: left;
}

.comment_pic1 {
    margin-left: 1.25rem;
}

.youhui {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.flow_wrap {
    margin-top: 3.125rem;
}

.foot_flow {
    float: left;
    margin-left: 2.1875rem;
    text-align: center;
}

.foot_flow1 {
    width: 6.5rem;
    /*height: 8.4375rem;
     */
    line-height: 1.875rem;
}

.foot_flow2 {
    line-height: 5rem;
}

.big_word {
    font-size: 1.625rem;
    color: #858585;
}

.serve {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.serve_pic {
    float: left;
    margin-top: 1.875rem;
}

.serve_word {
    width: 40.3125rem;
    float: left;
    margin-left: 1.875rem;
    line-height: 2.5rem;
}

.serve_title {
    font-size: 1.625rem;
}

.serve_text {
    font-size: 1.375rem;
    color: #999999;
    font-weight: 100;
}

.serve_baopei {
    margin: 1.875rem 0;
}

.like {
    overflow: hidden;
    margin-top: 1.875rem;
    background: #fff;
    padding: 1.25rem 0.9375rem;
}

.foot {
    background: #fff;
    position: fixed;
    z-index: 999;
    bottom: 0;
}

.foot_bot {
    width: 46.875rem;
    height: 6.25rem;
    border-top: 0.0625rem solid #999999;
}

.foot_tel {
    width: 70%;
    text-align: center;
    line-height: 6.25rem;
    font-size: 1.875rem;
    float: left;
}

.foot_btn {
    float: left;
    width: 30%;
    text-align: center;
    background: #00b9f4;
    font-size: 1.5rem;
    padding: 1.25rem 0;
    color: white;
}

.ditu {
    height: 18.75rem;
    /*overflow: hidden;
     */
    position: relative;
    z-index: 0;
    background-color: rgb(243, 241, 236);
    color: rgb(0, 0, 0);
    text-align: left;
}

#dituContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
}

.map_list li {
    float: left;
    margin-left: 20px;
}
